<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134990016349-8hr2bjpkk9kir89hg6fb0m4g1q7btf7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134990016349-8hr2bjpkk9kir89hg6fb0m4g1q7btf7a</string>
	<key>API_KEY</key>
	<string>AIzaSyD9_73RQOjnf5eTQHW7yDwdhQu8gAhESlY</string>
	<key>GCM_SENDER_ID</key>
	<string>134990016349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdemsenol.StudentManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>healthyfood-e063a</string>
	<key>STORAGE_BUCKET</key>
	<string>healthyfood-e063a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134990016349:ios:554b71680159e3b3d202b4</string>
</dict>
</plist>